[Desktop Entry]
Type=Application
Name=Steam (Portal)
Comment=Steam ARM64 public-beta Big Picture (native client)
Exec=portal-steam --gamepadui
Icon=steam
Terminal=false
Categories=Game;
StartupNotify=true
